.breadcrumb {
    background-color: transparent;
}

.title {
    color: black;
    font-weight: 600;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}
.page-item.active .page-link {
    z-index: 2;
    color: white;
    background-color: black;
    border-color: black;
}
.page-link {
    color: black;
    background-color: white;
    border: 1px solid #ddd;
}

.page-link:focus, .page-link:hover {
    color: gray;
    text-decoration: none;
    background-color: white;
    border-color: #ddd;
}

.page-item:last-child .page-link, .page-item:first-child .page-link {
    border-radius: 0px;
}

h1 a:hover {
    text-decoration: none;
}

pre{
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}


html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.page {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

footer div {
    margin: 20px    ;
}